.title {
    font-size: 8vw;
    font-family: 'Bona Nova', serif;
    cursor: pointer;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .divider {
    margin: 10px;
    width: 100%;
    height: 10px;
    background-color: grey;
  }